.dialog-share
  z-index: 51
  .dialog-surface
    width: 500px
    .head
      display: flex
      flex-direction: row
      padding: 16px 16px 0 16px

      .title
        display: block
        margin-top: 4px
        font-size: 1.5em
        flex: 1
    .foot
      display: flex
      flex-direction: row
      padding: 16px
      .material-button
        margin: 0
      .divider
        flex: 1

    .link
      height: 32px
      margin: 16px
      //background-color: rgba(0,0,0,.1)
    > .summary
        pointer-events: none
        display: flex
        flex-direction: row
        flex: none
        height: 96px
        z-index: 2
        padding: 16px
        .image
          //pointer-events: none
          flex: none
          display: block
          width: 80px
          height: 80px
          margin: 0
          background-color: rgba(0, 0, 0, .2)
          background-size: cover
          background-repeat: no-repeat
          background-position: center
      
        .info
          flex: 1
          font-size: 1em
          display: flex
          flex-direction: column
          .title
            flex: none
            display: block
            height: 22px
            padding: 2px 8px
            //white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
          .artist
            flex: 1
            opacity: .7
            font-size: .9em
            font-weight: 500
            display: block
            padding: 2px 8px
            margin-bottom: 4px
            overflow: hidden
            text-overflow: ellipsis