
.controls
  flex: none
  display: inline-block
  button
    flex: none
    margin: 0
    height: 32px
    width: 32px
    min-width: 32px
    background-image: url('/theme/minimal/icon/next.svg')
    background-position: center
    background-repeat: no-repeat
    &.button-next
      background-size: 50%
      background-position: 10px
      background-image: url('/theme/minimal/icon/next.svg')
    &.button-pause
      margin-right: 8px
      background-size: 70%
      background-image: url('/theme/minimal/icon/pause.svg')
    &.button-play
      margin-right: 8px
      background-size: 70%
      background-image: url('/theme/minimal/icon/play.svg')
