.decades
  order: 3
  z-index: 1
  display: flex
  flex-direction: row
  flex: none
  width: 100%
  background-color: rgba(0,0,0,.05)
  background-color: rgba(255,255,255,.5)
  .header
    display: block
    width: 200px
    padding-right: 32px
    display: flex
    flex-direction: column
    .year, .place
      font-size: .8em
      height: 50%
      padding: 8px 8px 2px
    .place
      opacity: .5
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .year
      color: $secondary-color
      padding: 2px 8px 8px

  .body
    white-space: nowrap
    position: relative
    display: inline-block
    height: 48px
    vertical-align: bottom
    text-align: center
    padding: 0 32px
    
    .decade
      font-size: .8em 
      vertical-align: bottom
      position: relative
      cursor: pointer
      display: inline-block
      height: 100%

      margin: 0 0 10px 0 
      margin: 0
      padding: 0
      bottom: 0
      border-radius: 0
      border: none
      box-shadow: none
      background-color: transparent
      //height: 100%
      
      //padding: 16px 2px 2px

      &.selected, &.selected:hover
        cursor: default
        //color: $secondary-color-text
        background-color: rgba($secondary-color, .8)
      &:hover 
        background-color: rgba($secondary-color, .3)
      label
        pointer-events: none
        bottom: 8px
        left: -25%
        position: absolute
      .year
        pointer-events: none
        display: inline-block
        height: 20px
        width: 6px
        margin: 0 0 28px 0 
        border-left: 1px solid rgba(0,0,0,.1)
        &:first-child
          height: 24px
          border-left: 1px solid rgba(0,0,0,.2)
          margin: 0 0 24px 0 


.mode-taxi
  .decades
    .body
      .decade
        &.selected, &.selected:hover
          cursor: default
          background-color: $primary-color
          transition: .2s
        &:hover 
          background-color: lighten($primary-color, 20%)
        
.mode-random
  .decades
    .body
      .decade
        &.selected, &.selected:hover
          cursor: default
          background-color: $secondary-color
          transition: .2s


// dark mode
body.dark-mode
  .decades
    background-color: rgba(255,255,255,.1)

@media only screen and (max-width: 1024px)
  .decades
    position: fixed
    bottom: 96px
    .body
      padding: 0 32px
      span

    .header
      position: fixed
      top: 64px
      left: 8px
      position: absolute
      top: -28px


      width: 100%
      padding-right: 32px
      display: flex
      flex-direction: row
      .year, .place
        font-size: .8em
        height: 50%
        padding: 2px
      .place
        opacity: .5
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .year
        color: $secondary-color
        padding: 2px
    



  // dark mode
.dark-mode
  .decades
    .body
      .decade
        .year
          border-left: 1px solid rgba(255,255,255,.15)
          &:first-child
            border-left: 1px solid rgba(255,255,255,.15)

