
.material-goodnews-control
  display: none
  cursor: pointer
  z-index: 4
  position: fixed
  top: 104px
  left: 138px
  width: 56px
  height: 56px
  border-radius: 50%
  //box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  background-color: #B80000
  border: 2px solid rgba(255,255,255,.9)
  svg
    width: 50px
    height: 50px
    // circle
    //   fill: #B80000
    //   stroke: #fff
    //   stroke-width: 16
    //   stroke-miterlimit: 10
  &:hover
    background-color: #000000
    color: rgba(255,255,255,.9)



@media only screen and (max-width: 1024px)
  .material-goodnews-control
    display: none