.mode
  pointer-events: auto
  position: relative
  display: inline-block
  padding: 0
  margin: 8px 0
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  text-align: center 
  align-items: center
  justify-content: center
  button.type-action
    display: inline-block
    height: 40px
    width: 40px
    background-position: center
    background-repeat: no-repeat
    border-radius: 50%

  .taxi
    order: 2
    background-image: url('/theme/minimal/icon/taxi.svg')
    &.on
      background-color: $primary-color
      background-image: url('/theme/minimal/icon/taxi-on.svg')
    &.is-disabled
      opacity: 1

  .islands
    order: 3
    background-image: url('/theme/minimal/icon/islands.svg')
    &.on
      background-color: #2A5986
      background-image: url('/theme/minimal/icon/islands-on.svg')
    &.is-disabled
      opacity: 1

  .random
    order: 1
    background-image: url('/theme/minimal/icon/random.svg')
    &.on
      background-color: $secondary-color
      background-image: url('/theme/minimal/icon/random-on.svg')
    &.is-disabled
      opacity: 1

.mode-indicator
  display: none

@media only screen and (max-width: 1024px)
  .mode
    button.type-action
      height: 40px
      width: 40px
    .taxi-control
    .random-control
     
















