.moods
  z-index: 1
  height: 64px
  background-color: rgba(0,0,0,.1)
  margin: 0
  text-align: center
  background: none
  pointer-events: auto
  white-space: nowrap
  button
    font-size: .7em 
    text-align: center
    cursor: pointer
    display: inline-block
    font-weight: 500
    height: 56px
    width: 48px
    padding-top: 27px
    margin: 0 2px
    background-image: url('/theme/minimal/icon/off.svg') 
    background-repeat: no-repeat
    background-position: center 10px
    background-size: 24px 24px
    background-color: transparent
    border: none
    border-top: 0
    &:hover
      //background-image: url('/img/moods/selected.svg')
    &.selected
      background-image: url('/theme/minimal/icon/on.svg')
      cursor: default

body.dark-mode
  .moods
    button
      color: $dark-color-text

@media only screen and (max-width: 1024px)
  .moods
    position: absolute
    top: 64px
    height: 56px
    padding: 0 3px

    
    button
      height: 56px
      font-size: .5em

