.material-social
  z-index: 5
  position: fixed
  top: 50%
  right: 0
  width: 36px
  a
    display: block
    width: 36px
    height: 36px
    border: none
    background-size: 50%
    background-position: center
    background-repeat: no-repeat
    background-color: rgba(0,0,0,.05)
    &:hover
      background-color: rgba(0,0,0,.1)
    &.facebook
      background-size: 30%
      background-image: url('/theme/minimal/icon/facebook.svg')
    &.twitter
      background-image: url('/theme/minimal/icon/twitter.svg')
    &.instagram
      background-image: url('/theme/minimal/icon/instagram.svg')

@media only screen and (max-width: 1024px)
  .material-social
    display: none
    
