
.sound
  opacity: .5
  pointer-events: auto
  display: inline-block
  width: 40px
  height: 40px
  margin: 8px
  background-image: url('/theme/minimal/icon/mute.svg')
  background-size: 50%
  background-repeat: no-repeat
  background-position: center
  &.off
    opacity: .7
    background-image: url('/theme/minimal/icon/mute-on.svg')

@media only screen and (max-width: 1024px)
  .sound
    //display: none
   

