.zoom
  z-index: 13
  display: flex
  flex-direction: row
  position: fixed
  width: 52px
  height: 128px
  left: 16px 
  top: 72px
  padding: 0
  pointer-events: auto
  color: rgba(0, 0, 0, 0.47)
  white-space: nowrap
  .material-button
    flex: none
    cursor: pointer
    width: 40px
    height: 40px
    background-repeat: no-repeat
    background-position: center
    background-color: transparent
    border-radius: 50%
    margin: 0

  .zoom-in
    order: 2
    background-image: url('/theme/actual/icon/zoom-in.svg')
    &:hover
      background-image: url('/theme/actual/icon/zoom-in_o.svg')
    &:active
      background-image: url('/theme/actual/icon/zoom-in_a.svg')

  .zoom-out
    order: 1
    background-image: url('/theme/actual/icon/zoom-out.svg')
    &:hover
      background-image: url('/theme/actual/icon/zoom-out_o.svg')
    &:active
      background-image: url('/theme/actual/icon/zoom-out_a.svg')



@media only screen and (max-width: 640px)
  .zoom
    display: flex
    flex-direction: column
    position: absolute
    width: 46px
    height: 96px
    position: fixed
    right: 8px 
    top: 128px
    margin: 0
    .zoom-in
      order: 1
      width: 44px
      height: 44px
      margin: 0
    .zoom-out
      order: 2
      width: 44px
      height: 44px
      margin: 0