.worldmap
  cursor: grab
  position: absolute
  margin: 0 auto
  bottom: 0
  top: 0
  left: 0
  right: 0
  height: 100%
  transition: .7s transform cubic-bezier(.4,0,.2,1)
  // backface-visibility: hidden
  .island
    transition: .3s opacity ease
    pointer-events: auto
    opacity: 1
  .map
    opacity: 0
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    top: 0
    bottom: 0
    width: 4390px
    height: 2900px
    -ms-transform: translateZ(0) /* IE 9 */
    -webkit-transform: translateZ(0) /* Chrome, Safari, Opera */
    transform: translateZ(0)
    
    &.show
      opacity: 1
      transition: .2s opacity ease

    .svg
      position: absolute
      bottom: 0
      top: 0
      right: 0
      left: 0
      width: 100%
      height: 100%

      svg

        .correction
          transform: translateX(4094px)

        path
          cursor: pointer
          fill: rgba($background-color, .87)
          fill-opacity: 1
          fill-rule: evenodd
          stroke: rgba(0,0,0,.5) 
          stroke-opacity: .2
          stroke-linejoin: round
          stroke-linecap: round
          //transition: fill .1s linear
          &.selected
            cursor: default
            fill-opacity: .4
            fill: $secondary-color
          &.selected.playing
            fill-opacity: 1
          &.empty
            fill-opacity: .3
            cursor: default
            fill: #ffffff
            fill-opacity: .7
            stroke-opacity: .05

      &.tiny svg path
        stroke-width: 2.4
      &.small svg path
        stroke-width: 1.6
      &.medium svg path
        stroke-width: 1.4
      &.large svg path  
        stroke-width: 1.2
      &.huge svg path
        stroke-width: 1
      &.xhuge svg path
        stroke-width: .8

    svg
      position: absolute
      left: 1045px
      top: 1480px
      width: 5408px
      height: 4500px
      margin: 0 auto

body
  &.mode-standard
    background-color: #CBD2D3
    .worldmap
      .map
        //transition: 1s backgroundColor  ease
        svg
          path
            //stroke: rgba(63, 169, 216, 1)
          path.selected
            fill-opacity: 1
            fill: $secondary-color
    
body
  &.mode-islands
    background-color: rgba(172, 217, 253, .8)
    .worldmap
      .map
        //transition: 1s backgroundColor  ease
        svg
          path
            stroke: rgba(63, 169, 216, 1)
          path.selected
            fill: rgba(63, 169, 216, 1)

body
  &.mode-taxi
    background-color: rgba(245, 151, 157, .3)
    .worldmap
      .island
        transition: .3s opacity linear
        pointer-events: none
        opacity: 0
      .map
        //
        //transition: 1s backgroundColor  ease
        svg
          path
            stroke: rgba(234, 121, 135, 1)
          path.selected
            fill: rgba(234, 121, 135, 1)
            

  &.mode-random
    background-color: rgba(172, 217, 253, .8)
    .worldmap
      .map
        //transition: 1s backgroundColor  ease
        svg
          path
            stroke: rgba(63, 169, 216, 1)
          path.selected
            fill: rgba(63, 169, 216, 1)
      

.dark-mode
  background-color: #000000
  .worldmap
    .map
      svg
        path
          fill: rgba($background-color-dark, .87)
          &.selected
            cursor: default
            fill-opacity: .4
          &.selected.playing
            fill-opacity: 1
          &.empty
            fill-opacity: .3
            cursor: default
            fill: rgba($surface-color-dark, .87)
            fill-opacity: .7
            stroke-opacity: .05

            
  &.mode-standard, 
  &.mode-random, 
  &.mode-islands,
  &.mode-taxi
    background-color: #000000
    .worldmap
      .map
        //transition: 1s backgroundColor  ease
        svg
          path
            stroke: lighten($background-color-dark, 28%)
          path.selected
            fill-opacity: 1
            fill: darken($secondary-color, 40%)
            &.empty
              fill: darken($secondary-color, 60%)



@media only screen and (max-width: 1024px)

