.now
  order: 4
  z-index: 30
  display: flex
  height: 96px
  overflow: hidden
  flex-direction: row
  //transform: translateY(300px)
  transition: 195ms height cubic-bezier(.4,0,.2,1)
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
  &.open
    height: 396px
    transform: translateY(0px)
    transition: 225ms height cubic-bezier(.4,0,.2,1)
    .track
      .summary
        .cover
          width: 0 
          transition: 225ms width cubic-bezier(.4,0,.2,1)


  // .track
  //   .summary
  //     .cover
  //       width: 80px
  //       transition: 195ms width cubic-bezier(.4,0,.2,1)

    .track, .contributor
      transform: translateY(300px)
      transition: .1s transform ease !important
      &.open
        transform: translateY(0px)
        transition: .1s transform ease !important

  // .track, .contributor
  //   transform: translateY(0px)
  //   transition: .1s transform ease !important
  //   &.open
  //     transform: translateY(-300px)
  //     transition: .1s transform ease !important


@media only screen and (max-width: 640px)
  .now
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: 100%
    pointer-events: none
    transform: translateY(0)
    // &.open
    //   .contributor
    //     transform: translateY(0px)
    //     transition: .1s transform ease !important
    //     &.open
    //       transform: translateY(-300px)
    //       transition: .1s transform ease !important
    //     .track
    //       display: none


    // >.track
    //   &.open
    //     position: fixed
    //     left: 0
    //     right: 0

    // >.contributor
    //   z-index: 40
    //   &.open
    //     position: fixed
    //     left: 0
    //     right: 0

    // .track, .contributor
    //   transform: translateY(0px)
    //   transition: .1s transform ease !important
    //   &.open
    //     transform: translateY(-300px)
    //     transition: .1s transform ease !important
  
