
#clicktostart
  color: rgba(255,255,255,1)
  text-align: center
  padding-top: 100px
  font-size: 3em
  display: none
  z-index: 50
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, .4)
  background-image: url('/theme/minimal/icon/play.svg')
  background-size: 70%
  background-position: center
  background-repeat: no-repeat
  transition: .5s
  &.waiting
    transition: .5s
    display: block