.track
  flex: 1
  display: flex
  flex-direction: column
  z-index: 2
  height: 396px
  background-color: $background-color
  overflow: hidden
  //box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
  transform: translateY(0px)
  transition: .1s transform ease
  &.open
    transform: translateY(-300px)
    transition: .1s transform ease
    >.summary
  > .summary
    pointer-events: none
    display: flex
    flex-direction: row
    flex: none
    height: 96px
    z-index: 2
    padding: 8px
    .cover
      //pointer-events: none
      flex: none
      display: block
      width: 80px
      height: 80px
      margin: 0
      background-color: rgba(0, 0, 0, .2)
      background-size: cover
      background-repeat: no-repeat
      background-position: center
  
    .info
      flex: 1
      font-size: 1em
      display: flex
      flex-direction: column
      .title
        flex: none
        display: block
        height: 22px
        padding: 2px 8px
        //white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .artist
        flex: 1
        opacity: .7
        font-size: .9em
        font-weight: 500
        display: block
        padding: 2px 8px
        margin-bottom: 4px
        overflow: hidden
        text-overflow: ellipsis
      

    .action
      flex: none
      display: flex
      flex-direction: row

      //background-color: rgba(249, 170, 188, 1)
      padding: 0 3px
      .material-divider
        flex: 1
        padding: 0
        margin: 0
      .material-button
        pointer-events: auto
        display: inline-block
        flex-direction: column
        flex: none
        white-space: normal
        width: 32px
        height: 32px
        margin: 0 1px
        padding: 0px
        text-align: center
        border-radius: 50%
        background-repeat: no-repeat
        background-size: 60%
        background-position: center
        &.button-like
          border-radius: 16px
          padding-left: 32px
          background-size: 24px
          background-position: 8px
          width: inherit
          background-image: url('/theme/minimal/icon/favorite.svg')
          .button-label
            color: $primary-color
            font-size: .8em
            padding: 8px 10px
            display: inline-block
          &.liked
            background-image: url('/theme/minimal/icon/like.svg')
        &.button-share
          background-position: 4px
          background-image: url('/theme/minimal/icon/share.svg')
        &.button-comment
          display: none
          background-image: url('/theme/minimal/icon/comment.svg')
        &.button-buy
          opacity: 0
          visibility: hidden
          display: none
        .button-label
          display: none
          // line-height: 1.9
          // font-weight: 550
          // font-family: arial, helvetica
          // font-size: .55em
          // margin-top: 3px
          // padding: 0 4px
          // border-radius: 7px
          // margin: 3px auto
          // min-width: 20px

      .controls
        flex: none
        display: inline-block
        button
          flex: none
          margin: 0
          height: 32px
          width: 32px
          min-width: 32px
          background-image: url('/theme/minimal/icon/next.svg')
          background-position: center
          background-repeat: no-repeat
          &.button-next
            background-size: 50%
            background-position: 10px
            background-image: url('/theme/minimal/icon/next.svg')
          &.button-pause
            margin-right: 8px
            background-size: 70%
            background-image: url('/theme/minimal/icon/pause.svg')
          &.button-play
            margin-right: 8px
            background-size: 70%
            background-image: url('/theme/minimal/icon/play.svg')


      .material-button.button-buy-track
        opacity: .5
        pointer-events: none
        &.buy
          opacity: 1
          pointer-events: auto
  
  > .body
    display: flex
    flex-direction: row
    overflow: hidden
    justify-content: start
    //height: 300px
    //padding: 16px
    margin: 0
    padding: 0
    pointer-events: auto
    box-shadow: none
    border-radius: 0
    background-color: $surface-color
    .button-close
      display: none
      position: absolute
      right: 8px
      top: 8px
      width: 36px
      height: 36px
      margin: 0
      background-image: url('/theme/minimal/icon/close.svg')
      background-repeat: no-repeat
      background-position: center
    .title
      display: none
      position: absolute
      top: 16px
      left: 308px
      color: $secondary-color
      font-size: .9em
      text-transform: uppercase
      font-weight: 500
      position: absolute
      padding: 0
      z-index: 2
      padding: 0
    .cover
      flex: none
      background-color: rgba(0,0,0,.2)
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      margin-right: 0
      width: 284px
      height: 284px
      margin: 8px
    .side
      flex: 1
      display: flex
      flex-direction: column
      .info
        flex: 2
        padding: 20px 0 8px 16px
        .field
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          white-space: nowrap
          padding: 2px 0 3px
          border: 0
          margin: 0
          border-bottom: 1px solid rgba(0,0,0,.05)
          .material-text
            flex: 1
            display: inline-block
            font-size: 1em
            padding: 2px 0
            margin-right: 0
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            &.label
              text-align: right
              font-size: .7em
              opacity: .5
              flex: none
              padding-top: 8px
              margin-right: 8px
              display: inline-block
              width: 64px
              //text-transform: uppercase

      .comments
        display: none
        flex: 1
        height: 140px
        padding: 10px
        background-color: #EA7987
        .text-comments
          font-size: .8em
          text-transform: uppercase
          padding-right: 4px




.dark-mode
  .track
    background-color: $surface-color-dark
    >.summary
      .action
        .controls
          flex: none
          display: inline-block
          button
            background-image: url('/theme/minimal/icon/dark/next.svg')
            &.button-next
              background-image: url('/theme/minimal/icon/dark/next.svg')
            &.button-pause
              background-image: url('/theme/minimal/icon/dark/pause.svg')
            &.button-play
              background-image: url('/theme/minimal/icon/dark/play.svg')
    >.body
      background-color: $background-color-dark
      .side
        .info
          .field
            border-bottom: 1px solid rgba(255,255,255,.05)

@media only screen and (max-width: 640px)
  .track
    z-index: 3
    position: fixed
    //width: 100%
    height: 96px
    top: auto
    left: 0
    right: 96px
    bottom: 0
    transform: translateY(0px)
    transition: .195s height cubic-bezier(.4,0,.2,1)
    &.open
      width: 100%
      right: 0
      top: 56px
      transform: translateY(0)
      height: 100%
      display: flex
      flex-direction: column
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
      transition: .225s height cubic-bezier(.4,0,.2,1)
    //   >.summary
    //     flex: none
    //     height: 360px
    //     pointer-events: auto
    //     flex-direction: column
    //     .cover
    //       background-size: cover
    //       width: 100%
    //       height: 284px
    //       // margin: 16px auto
    //     .info
    //       height: 64px
    //       .action
    //         display: block
    //         text-align: center
    //         .material-divider
    //           display: inline-block
    //           width: 36px
    //           flex: none
    //       .title, .artist
    //         display: none
      >.body
        flex: 1
    >.summary
        flex: none
        pointer-events: auto
    >.body
      flex: 1
      .cover
        display: none
      .side
        .info
          padding: 0px
          .field
            position: relative
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            white-space: nowrap
            padding: 2px 0 1px 16px
            border: 0
            margin: 0
            border-bottom: 1px solid rgba(0,0,0,.05)
            // .material-text
            //   flex: 1
            //   display: block
            //   font-size: 1em
            //   padding: 13px 0 3px
            //   &.label
            //     font-size: .5em
            //     position: absolute
            //     top: -10px
            //     flex: none

    .info
      .title
        top: 16px
        left: 8px
      .cover
        display: none
      .side
        .info
          padding: 32px 0 8px 0