.views
  position: relative
  flex: 1

  h3.title
    color: $secondary-color
    font-size: 1.2em
    font-weight: 400
    padding: 8px 16px
    margin: 0

.tabview
  position: relative
  flex: 1
  >.list
    position: relative 
    display: none
    &.show
      display: block

    

  >.form
    display: none
    overflow: scroll
    &.show
      display: block

  h3.title
    color: $secondary-color
    text-transform: uppercase
    font-size: .9em
    font-weight: 400
    padding: 8px 16px
    margin: 0
    border-bottom: 1px solid rgba(0,0,0,.1)



.material-tabs
  pointer-events: auto
  border-bottom: 1px solid rgba(0, 0, 0, .1)
  height: 48px
  white-space: no-wrap

  .material-indicator
    background-color: $secondary-color
  .material-list
    display: flex
    flex-direction: row
    .material-divider
      flex: 1 
      display: inline-block
    .button-comments, .button-edit
      opacity: .5
      pointer-events: none


.material-tabs
  pointer-events: auto
  border-bottom: 1px solid rgba(0, 0, 0, .1)
  height: 48px
  white-space: no-wrap
  .material-indicator
    background-color: $secondary-color
  .material-list
    display: flex
    flex-direction: row
    .material-divider


      flex: 1 
      display: inline-block
    button
      flex: none
      pointer-events: auto
      display: inline-block
      // flex-direction: column
      // flex: 1
      // white-space: normal
      padding: 0 16px
      min-width: 64px
      height: 48px
      //margin: 0 1px
      border-radius: 0
      text-align: center
      background-repeat: no-repeat
      background-size: 50%
      background-position: center