
.login
  position: fixed
  top: 0
  bottom: 0
  right: 0
  display: flex
  flex-direction: column
  flex: none
  z-index: 32
  width: 380px
  background-color: $background-color
  transform: translateX(100%)
  opacity: 0
  transition: .195s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
  &.open
    opacity: 1
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
    transform: translateX(0px)
    transition: .225s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)

  header
    display: flex
    height: 56px
    padding: 8px
    .material-text
      font-size: 1.5em
      margin-left: 8px
      padding: 4px 0

    .material-text
      font-weight: 500

    .divider
      flex: 1

  .body
    padding: 16px
    //background-color: $surface-color
    .material-textfield
      margin-right: 0
  
    .container-message
      color: rgb(214, 57, 44)
      font-size: .8em
      height: 20px
      padding: 0 8px

  footer
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    padding: 16px
    .material-button
      margin: 0
    .divider
      flex: 1


@media only screen and (max-width: 1024px)
  .login
    border-radius: 0
    position: fixed
    background-color: rgba(255,255,255,1)
    left: 0
    top: 0
    right: 0
    width: 100%