
.posttrack
  z-index: 40
  position: fixed
  top: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(255,255,255,1)
  padding: 16px
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)

  position: absolute
  right: 0
  top: 0
  bottom: 0
  pointer-events: auto
  //display: none
  overflow: scroll
  justify-content: start
  width: 380px
  
  form.emphasis
    transition: .1s  
    zoom: 1.01
 
  form
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column

  
    .toolbar-head
      flex: none
      padding: 8px
      height: 56px
      .button-close
        z-index: 10
        display: block
        background-image: url('/theme/minimal/icon/close.svg')
        background-position: center
        background-repeat: no-repeat

    .body
      flex: 1
      padding: 16px
      background-color: $surface-color
      .post-track
        input[type=file]
        .material-text

      .post-cover
        input[type=file]
        .material-text

      .material-textfield
        margin-right: 0
      .component-left
        background-color: transparent
        margin-bottom: 8px
        margin-right: 16px
        .component-post-track
          overflow: hidden
          display: block
          border: 1px solid rgba(0,0,0,.8)
          width: 206px
          height: 206px
          background-color: rgba(0,0,0,.2)
          margin-bottom: 16px
          //margin-right: 16px

      .component-right
        background-color: transparent
        .component-post-cover
          overflow: hidden
          display: block
          border: 1px solid rgba(0,0,0,.8)
          width: 206px
          height: 206px
          background-color: rgba(0,0,0,.2)
          margin-bottom: 16px
          //margin-right: 16px
        .component-track-text
          background-color: transparent
          .material-textfield
            margin-bottom: 4px
            margin-right: 0
            .textfield-input
              font-size: .7em

    .toolbar-foot
      flex: none
      padding: 16px
      .material-divider
        border-bottom: none
      .material-button
        margin: 0

body.dark-mode
  .posttrack
    background-color: $surface-color-dark
    .toolbar-head
      .button-close
        background-image: url('/theme/minimal/icon/dark/close.svg')
