.profile
  z-index: 37
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: flex
  flex-direction: column
  //background-color: rgb(51, 51, 51)
  //background-color: rgb(255,255,255)
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1)
  .toolbar-head
    height: 64px
    margin-bottom: 0px
    h3.title
      color: $secondary-color
      font-size: 1.4em
      font-weight: 400
      padding: 5px 8px
      margin: 8px
    .button-close
      width: 40px
      height: 40px
      margin: 8px
      background-image: url('/theme/minimal/icon/close.svg')
      background-position: center
      background-repeat: no-repeat

  form
    display: flex
    flex-direction: column
    .main
      flex: none
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      h3.title
        color: $secondary-color
        font-size: 1.4em
        font-weight: 400
        padding: 5px 8px
        margin: 8px
      .group
        padding-left: 16px
        padding-bottom: 16px
        border-bottom: 1px solid rgba(0, 0,0,.1)
        .text-subtitle
            padding: 0 0 20px
            display: block
        .text-info
            font-size: .8em
            padding: 0 0 5px
            margin-bottom: 16px
            display: block
        .image-field
          //display: none
          margin-bottom: 32px
          .image
            // display: inline-block
            display: none
            position: relative
            overflow: hidden
            
            background-size: cover
            background-position: center
            background-color: rgba(0,0,0,.1)
            text-align: center
            height: 64px
            width: 64px
            border-radius: 50%
            
          // input[type=file]
          //   display: block
          //   font-size: 100px
          //   left: 0
          //   top: 0
          //   bottom: 0
          //   right: 0
          //   width: 204px
          //   height: 204px
          //   opacity: 1
          // .material-text
          //   font-size: 1.4em
          //   display: inline-block
          //   padding: 16px
          //   margin-top: 64px
          //   color: rgba(0,0,0,0.2)
          //   &:hover
          //     color: rgba(0,0,0,0.8)



        .field
          display: block
          flex: none
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          .label-field
            flex: 1
            //color: rgba(255,255,255,.8)
            padding: 20px 16px 20px 0
          .material-textfield
            flex: none
            min-width: 160px
            label
              display: none
              //color: rgba(255,255,255,.8)
            select
              //color: rgba(255,255,255,.8)
          .switch
            flex: 1
            display: flex
            margin-left: 16px
            margin-right: 16px
            
            label
              //color: rgba(255,255,255,.8)
              //
              //
    
    .divider
      flex: 1

    .toolbar-foot
      .divider
        flex: 1
    