.appbar
  order: 1
  z-index: 2
  flex: none
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  height: 56px
  padding: 0 0
  margin: 0
  background-color: $background_color
  box-shadow: none

  // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2)
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  // box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12)
  //box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12)
  .logo
    // display: none
    order: 1
    cursor: pointer
    pointer-events: auto
    width: 152px
    height: 48px
    width: 112px
    height: 48px
    margin: 0
    margin: 10px 8px
    margin-left: 16px
    background-image: url('/theme/minimal/logo.svg')
    background-size: contain
    background-repeat: no-repeat
    flex: none
  .divider-1
    order: 2
    flex: none
  .moods
    order: 3
    flex: 1
  .divider-2
    order: 4
    flex: 1
  .mode
    flex: none
    order: 5
  .divider-2
    order: 6
    flex: 1
  .sound
    order: 7
    flex: none

  .material-posttrack-control
    order: 7
    flex: none
  .toolbar-account
    order: 8
    flex: none


  .material-button
    pointer-events: auto

  .material-toolbar
    padding: 14px 16px

  .toolbar-account
    width: 100px
    flex: none
    padding: 8px
    display: flex
    flex-direction: row
    justify-content: flex-end
    .button-login
      margin: 2px
      .button-label

    .button-account
      flex: none
      padding: 0
      height: 32px
      width: 32px
      min-width: 32px
      margin: 4px 4px
      background-image: url('/theme/minimal/icon/dark/account.svg')
      background-position: center
      background-repeat: no-repeat
      .button-label
        display: none
      i
        display: block
        height: 32px
        width: 32px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        border-radius: 50%

  .button-menu
    display: none
    border-radius: 50%
    background-image: url('/theme/minimal/icon/menu.svg')
    background-position: center
    background-repeat: no-repeat

body.dark-mode
  .appbar
    background-color: $surface-color-dark
    .toolbar-account
      .button-account
        background-image: url('/theme/minimal/icon/account.svg')


@media only screen and (max-width: 1024px)
  .appbar
    padding: 0
    .mode
      flex: 1
      order: 5
    .divider-2
        order: 6
        flex: none

    .button-menu
      display: block
      height: 40px
      width: 40px
      margin: 8px

    .logo
      display: none

    .toolbar-account
      width: 56px
      padding: 8px 0
      .button-account
        margin: 4px 12px
      .button-login
        margin: 4px 12px
        .button-label
          display: none

         