.material-player
  display: none
  font-size: .8em
  position: absolute
  bottom: 64px
  right: 26px
  width: 300px
  height: 54px
  border-radius: 0

#clicktostart
  color: rgba(255,255,255,1)
  text-align: center
  padding-top: 100px
  font-size: 3em
  display: none
  z-index: 50
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, .4)
  background-image: url('/theme/minimal/img/go.svg')
  background-size: 70%
  background-position: center
  background-repeat: no-repeat
  transition: .5s
  &.waiting
    transition: .5s
    display: block


@media only screen and (max-width: 1024px)
