$buttonColor: #FF5126
$backgroundColor: #DAEBEE
$successColor: #3BB873

$silver: #bdc3c7
$purple:#9b59b6
$white: #ecf0f1
$black: #2c3e50

@mixin dimensions($width: null, $height: $width)
  width: $width
  height: $height

%reset 
  margin: 0
  padding: 0

%flex
  display: flex 
  justify-content: center
  align-items: center

// *, *:before, *:after
//   box-sizing: border-box

// html,
// body
//   @include dimensions($width: 100%)
//   @extend %reset
//   font-family: 'Assistant', sans-serif

// body
//   @extend %reset
//   @extend %flex
//   @include dimensions($width:100%)
//   overflow: hidden
//   background: $backgroundColor
//   background-size: 20px 20px

button[type="submit"]
  @extend %flex
  background: transparent
  will-change: transform
  transition: all .2s ease
  cursor: pointer
  outline: none
  text-align: center
  
  &:hover
    background: $buttonColor
    //color: #ffffff

  &:active
    font-size: 15px
    transform: translateY(1px)

  &.active
    font-size: 0
    border-radius: 25px
    width: 50px
    background: transparent

  &.loader
    border-right: 2px solid #ffffff
    animation: loader .4s linear infinite

  &.success
    background: $successColor
    border-color: $successColor
    color: #ffffff


@keyframes loader
  0%
    transform: rotateZ(0)

  100%
    transform: rotateZ(360deg)


.field
#file-upload
    position: absolute
    left: -9999px


label[for="file-upload"]
  padding: 0.5em  
  display: inline-block
  background: darken($purple ,20%)
  cursor: pointer
  &:hover
    background: darken($purple ,17%)

#filename
  padding: 0.5em
  float: left
  width: 150px
  white-space: nowrap
  overflow: hidden
  background: darken($purple ,10%)

