
.awards
  display: none
  overflow: scroll
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  //padding: 8px

  &.show
    display: block

  .award
    position: relative
    display: inline-block
    width: 72px
    height: 128px
    margin: 0
    padding: 0
    text-align: center
    img
      display: inline-block
      width: 56px
      height: 102px
    .name
      //color: rgba(255,255,255,1)
      font-size: .7em
      position: absolute
      bottom: 0
      left: 0
      right: 0
      text-align: center
      display: block
      height: 30px
> div
  display: none
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  overflow: scroll
  &.show
    display: block


