


.islands-list
  pointer-events: none
  z-index: 15
  height: 322px
  position: absolute
  top: 0
  bottom: 0
  //left: 540px
  //bottom: 100px
  display: flex
  flex-wrap: wrap
  margin: 0 0
  padding: 0px
  overflow: scroll
  overflow-x: hidden
  border-left: 1px solid rgba(255,255,255,.5)
  border-top: 1px solid rgba(255,255,255,.5)
  background-color: $secondary-color
  //background-color: #2A5986
  transition: .195s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  opacity: 0
  transform: translateY(-150px) scale(0.8)
  &.open
    pointer-events: auto
    //transform: translateY(0)
    transition: .225s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
    transform: translateY(0) scale(1)
    opacity: 1
    margin-top: 0
    //transition: .1s
  .item
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    cursor: pointer
    position: relative
    flex-grow: 1
    //width: 33%px
    height: 64px
    padding: 6px 8px 8px
    border-bottom: 1px solid rgba(255,255,255,.5)
    border-right: 1px solid rgba(255,255,255,.5)
    &:last-child
      border-right: 1px solid rgba(255,255,255,.5)
    &:hover
      background-color: darken($secondary-color, 10%)
    .image
      font-size: .7em
      flex: none
      order: 1
      width: 42px
      height: 42px
      margin: 4px
      border-radius: 50%
      background-color: rgba(255, 255, 255, .1)
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      
    .name
      flex: 1
      order: 2
      width: 96px
      font-size: .7em
      text-transform: uppercase
      //height: 56px
      margin-top: 6px
      margin-left: 6px
      color: rgba(255,255,255,.87)


@media only screen and (max-width: 640px)
  .islands-list
    border-top: 64px solid  $secondary-color
    margin-bottom: 144px
    height: inherit
    top: 0
    bottom: 0

      
