
.islands-list
  z-index: 5
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: block
  padding: 64px 32px
  overflow: scroll
  transform: translateY(-120%)
  background-color: rgba(#2A5986, 92%)
  pointer-events: none
  transition: .195s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
  &.open
    pointer-events: auto
    transform: translateY(0)
    transition: .225s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
  .item
    cursor: pointer
    position: relative
    display: inline-block
    height: 164px
    padding: 8px
    border-radius: 4px
    overflow: hidden
    background-color:rgba(0,0,0,.1)
    &:hover
      background-color: rgba(0,0,0,.1)
    .image
      width: 96px
      height: 96px
      background-size: 50%
      background-repeat: no-repeat
      background-position: center
      background-color: rgba($secondary-color, 30%)
      border-radius: 50%
      
    .name
      text-align: center
      width: 96px
      font-size: .8em
      height: 56px
      margin-top: 8px
      color: rgba(255,255,255,.87)
