.list.tracks
  position: absolute
  right: 0
  left: 0
  bottom: 0
  top: 0
  overflow: scroll

  .item
    //color: rgba(255,255,255,1)
    //color: rgba(255,255,255,1)
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    padding: 4px 16px 4px 16px
    border-bottom: 1px solid rgba(0,0,0,.1)
    .cover
      flex: none
      width: 40px
      margin-right: 8px
      .image
        position: relative
        width: 40px
        height: 40px
        background-color: rgba(0,0,0,.05)
        background-size: cover
        .play
          opacity: 0
          position: absolute
          margin: 6px
          border-radius: 50%
          background-color: rgba(255,255,255,.6)
          top: 0
          left: 0
          right: 0
          bottom: 0
          background-position: center
          background-image: url(/theme/minimal/icon/play.svg)
          &:hover
            opacity: 1
            display: block


    .info
      flex: 1
      .title
        display: inline-block
        flex: 1
        display: block
        padding: 2px 0
      .artist
        font-size: 0.8em
        opacity: 0.6
        display: block
        padding: 2px 0
    .action
      flex: none
      .likes
        color: #f06292
        font-size: .8em
        line-height: 1em
        display: inline-block
        padding-left: 18px
        flex: none
        background-image: url('/theme/minimal/icon/like.svg')
        background-position: center left
        background-size: contain
        background-repeat: no-repeat